<header id="top-header">
  <h1 class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </h1>
  <div id="tools">
    <a href="/account/login" title="Click to log in">My Account</a>
  </div>
</header>