<section id="jumbotron">
  <h2>Welcome to CSE Motors!</h2>
  <div class="jumbotron_content">
    <div class="jumbotron_item">
      <h3 class="jumbotron_item-title">DMC Delorean</h3>
      <ul class="jumbotron_item-features">
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dice</li>
      </ul>
      <button class="jumbotron_action">Own Today</button>
    </div>
  </div>
  <div class="jumbotron_image-container">
    <img src="/images/vehicles/delorean.jpg" alt="delorean">
  </div>
</section>