<section id="reviews">
  <h2>DMC Delorean Reviews</h2>
  <ul class="reviews_container">
    <li class="reviews_item">"So fast it's almost like traveling in time." (4/5)</li>
    <li class="reviews_item">"Coolest ride on the reoad." (4/5)</li>
    <li class="reviews_item">"I'm feeling McFly!." (5/5)</li>
    <li class="reviews_item">"The most futuristic ride of our day." (4/5)</li>
    <li class="reviews_item">"80's livin and I love it!." (5/5)</li>
  </ul>
</section>