@media only screen and (min-width: 60em) {

  #wrapper {
    max-width: 60%;
  }

  #inv-display>li {
    width: 23%;
  }

  #add-classification,
  #add-inventory,
  #update-form,
  #delete-form {
    max-width: 40%;
  }
}