@media only screen and (min-width: 37.5em) {
  body {
    width: 100%;
    padding: 1em;
    background-image: url("/images/site/small_check.jpg");
  }

  #wrapper {
    max-width: 85%;
    margin: 0 auto;
    background-color: white;
    padding: 2em 1em;
    border-radius: 10px;
    border: 2px solid #00baff;
  }

  #top-header {
    font-size: 1.25em;
  }

  nav {
    font-size: 1.25em;
  }

  #jumbotron {
    font-size: 1.25em;
  }

  .jumbotron_item {
    font-size: 1.25em;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);

  }

  .jumbotron_image-container>img {
    height: 350px;
  }

  .features {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-bottom: 100px;
  }

  #upgrades {
    font-size: 1.25em;
  }

  #reviews {
    font-size: 1.25em;
  }
}