@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Scope+One&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
input[type=button] {
  font-family: "Imprima", sans-serif;
  font-weight: bold;
}

p,
span,
a,
li,
label {
  font-family: "Scope One", serif;
  font-weight: 500;
  font-style: normal;
}

h2 {
  margin: 1em 0 0.5em 0;
}

#top-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#top-header a {
  text-decoration: none;
  color: black;
}

.siteName>a {
  font-size: 1.25em;
}

nav>ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(22, 22, 54);
  padding: 0.5em 0;
}

nav>ul>li>a {
  color: white;
  text-decoration: none;
}

#jumbotron {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.jumbotron_image-container {
  margin: 0 auto;
}

.jumbotron_image-container>img {
  max-width: 100%;
  height: auto;
}

.jumbotron_item-title {
  margin: 0;
  font-weight: bold;
}

.jumbotron_item-features {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.jumbotron_item {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.74);
  color: #00baff;
  padding: 1em;
}

.jumbotron_action {
  background-color: #00baff;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 5px;
}

#upgrades {
  display: flex;
  flex-direction: column;
}

.upgrade_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1em;
  width: 100%;
}

.upgrade_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 47%;
}

.upgrade_item-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  max-width: 250px;
  background-color: #00baff;
  border: 1px solid black;
}

.reviews_container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.features {
  margin-bottom: 2em;
}

#inv-display {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 1em;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

#inv-display>li {
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  width: 75%;
}

#inv-display img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

#inv-display hr {
  height: 5px;
  background-color: black;
}

#inv-details {
  display: flex;
  flex-direction: column;
}

.inv-details_image>img {
  max-width: 100%;
  height: auto;
}

.inv-details_info p {
  padding: 0.5em 1em;
}

.inv-details_info p:nth-child(even) {
  background-color: rgb(238, 238, 238);
}

.error_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error_page img {
  max-height: 300px;
  width: auto;
}

.notice {
  color: red;
  font-weight: bold;
  font-style: italic;
}

#loginForm,
#regForm {
  background-color: rgb(37, 60, 87);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
}

#loginForm label,
#regForm label {
  display: flex;
  flex-direction: column;
}

input,
select {
  width: auto;
  padding: 0.5em 1em;
  border-radius: 5px;
  font-weight: bolder;
  border: none;
}

#loginForm input[type=button],
#regForm input[type=submit] {
  cursor: pointer;
}

#loginForm input[type=button]:active,
#regForm input[type=submit]:active {
  color: gray;
}

#loginForm p,
#regForm p {
  text-align: center;
}

#loginForm p>a,
#regForm p>a {
  font-weight: bold;
  color: white;
}

input:required:invalid,
input:focus:invalid {
  background-color: rgb(255, 178, 178);
}

input:required:valid {
  background-color: rgb(178, 255, 188);
}

#add-classification,
#add-inventory {
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 60, 87);
  padding: 1em;
  color: white;
}

#add-classification>p {
  margin-top: 0;
  font-weight: bold;
}

#add-classification>form,
#add-inventory>form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  border: gray solid 1px;
  padding: 0.5em;
}

#add-classification>form>label,
#add-inventory>form>label {
  display: flex;
  flex-direction: column;
}

#add-classification>form>label {
  gap: 1em;
}

#classification_id>option {
  padding: 1em;
}